.primary-l {
    p {
        font-family: OpenSans-Regular;
        color: #fff;
        font-size: 16px;
        line-height: 26px;
        a {
            padding-left: 5px;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}