.FormCheckbox{
.box {
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 16px;
    color: #727781;
    font-family: OpenSans-Regular;
  }
  
  /* Hide the browser's default checkbox */
  .box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark-x {
    position: absolute;
    top: 0px;
    left: 0;
    height: 16px;
    width: 16px;
    // background-color: #eee;
    border: 1px solid #ADB7BA;
    border-radius: 3px;
  }
  

  
  /* When the checkbox is checked, add a blue background */
  .box input:checked ~ .checkmark-x {
    background-color: #FF8C00;
    border: none;
  }
  
  /* Create the checkmark-x/indicator (hidden when not checked) */
  .checkmark-x:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark-x when checked */
  .box input:checked ~ .checkmark-x:after {
    display: block;
  }
  
  /* Style the checkmark-x/indicator */
  .box .checkmark-x:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}