#ChatWithUs {
  border-radius: 10px 10px 0 0;
  width: 360px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px #00000029;
  position: fixed;
  right: 390px;
  bottom: 0px;
  z-index:999;
  @media only screen and (max-width: 500px) {
    position: fixed;
    width: 100% !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    z-index: 999;
  }
 
  .ChatTitle{
    width: 100%;
  }
  .ChatHeader{
    padding: 0;
  
  }


  @media only screen and (max-width: 1024px) {
    width: 350px;
  }

.react-bell-chat__chat-panel {
  height: 335px;
}

.max{
  height: 571px;
}
}

