.ChatFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // box-shadow: 0px -3px 4px #0000001a;
        height: 56px;
        padding: 0 20px;
        border-top:0.8px solid #E3E3E3;

        .text {
            width: 265px;
            height: 56px;
            textarea {
                height: 56px;
                width: 100%;
                resize: none;
                padding: 18px 0;
                font-family: OpenSans-Regular;
                font-size: 14px;
                line-height: 19px;
                overflow-x: hidden;
                border: none;
                outline: none;
                overflow-y: auto;
            }
        }
        .send-and-attachment {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .attachment{
                margin-right: 8px;
                cursor: pointer;
                label{
                    cursor: pointer;
                }
            }
            .send{
                button{
                    outline: none;
                    border: none;
                    background: none;
                    cursor: pointer;
                    width: 33px;
                }
            }
        }
    }
}
