.UserNameCard {
    span.user-role {
        font-family: OpenSans-Regular;
        font-size: 11px;
        color: #fff;
        text-transform: capitalize;
    }
}
.back{
    background-color: red;
    height: 50px;
    width: 50px;
}